.my-title1 {
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;

    background: linear-gradient(to right, #3f51b5, #2196f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 8s ease infinite;

    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%
    );

    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip1 1.5s linear infinite;
    display: inline-block;
    font-size: 24px;
}
@keyframes textclip1 {
    to {
        background-position: 300% center;
    }
}

.my-title2 {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;

    background: linear-gradient(to right, #3f51b5, #2196f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite;

    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%
    );

    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip2 2s linear infinite;
    display: inline-block;
    font-size: 20px;
}
@keyframes textclip2 {
    to {
        background-position: 200% center;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.waviy {
    position: relative;
    font-weight: bolder;
}
.waviy span {
    position: relative;
    display: inline-block;
    font-size: 60px;
    color: #69da6f;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(0.2s * var(--i));
}
@keyframes flip {
    0%,
    80% {
        transform: rotateY(360deg);
    }
}
